In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv('train.csv')

In [38]:
# first 5 lines 
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,Europa,False,B/0/P,0.493671,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,False,True
1,0002_01,Earth,False,F/0/S,0.303797,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,False,True
2,0003_01,Europa,False,A/0/S,0.734177,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,False,True
3,0003_02,Europa,False,A/0/S,0.417722,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,False,True
4,0004_01,Earth,False,F/1/S,0.202532,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,False,True

In [39]:
# first 10 lines
df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,Europa,False,B/0/P,0.493671,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,False,True
1,0002_01,Earth,False,F/0/S,0.303797,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,False,True
2,0003_01,Europa,False,A/0/S,0.734177,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,False,True
3,0003_02,Europa,False,A/0/S,0.417722,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,False,True
4,0004_01,Earth,False,F/1/S,0.202532,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,False,True
5,0005_01,Earth,False,F/0/P,0.556962,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True,True,False
6,0006_01,Earth,False,F/2/S,0.329114,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True,False,True
7,0006_02,Earth,True,G/0/S,0.354430,False,0.0,0.0,0.0,0.0,0.0,Candra Jacostaffey,True,False,True
8,0007_01,Earth,False,F/3/S,0.443038,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True,False,True
9,0008_01,Europa,True,B/1/P,0.177215,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True,False,False

In [40]:
# lst 5 lines
df.tail()

,PassengerId,HomePlanet,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
8688,9276_01,Europa,False,A/98/P,0.518987,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,False,False
8689,9278_01,Earth,True,G/1499/S,0.227848,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,True,False
8690,9279_01,Earth,False,G/1500/S,0.329114,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,False,True
8691,9280_01,Europa,False,E/608/S,0.405063,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,False,False
8692,9280_02,Europa,False,E/608/S,0.556962,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,False,True

In [41]:
# infoooo0oo
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PassengerId                8693 non-null   object
 1   HomePlanet                 8693 non-null   object
 2   CryoSleep                  8693 non-null   object
 3   Cabin                      8693 non-null   object
 4   Age                        8693 non-null   float64
 5   VIP                        8693 non-null   object
 6   RoomService                8693 non-null   float64
 7   FoodCourt                  8693 non-null   float64
 8   ShoppingMall               8693 non-null   float64
 9   Spa                        8693 non-null   float64
 10  VRDeck                     8693 non-null   float64
 11  Name                       8693 non-null   object
 12  Transported                8693 non-null   bool
 13  Destination_PSO J318.5-22  8693 non-null   bool
 14  Destination_TRAPPIST-1e    8693 non-null   bool
dtypes: bool(3), float64(6), object(6)
memory usage: 840.6+ KB

In [42]:
# nmbr of missed values for every colmn
missing_values_count = df.isnull().sum()
print(missing_values_count)

PassengerId                  0
HomePlanet                   0
CryoSleep                    0
Cabin                        0
Age                          0
VIP                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
Name                         0
Transported                  0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
dtype: int64

In [43]:
# fillnaa
homeplanet_mode = df['HomePlanet'].mode()[0]
cryosleep_mode = df['CryoSleep'].mode()[0]
vip_mode = df['VIP'].mode()[0]
name_mode = df['Name'].mode()[0]

roomservice_median = df['RoomService'].median()
foodcourt_median = df['FoodCourt'].median()
shoppingmall_median = df['ShoppingMall'].median()
spa_median = df['Spa'].median()
vrdeck_median = df['VRDeck'].median()


# suggested by JL compiler
df['HomePlanet'] = df['HomePlanet'].fillna(homeplanet_mode)
df['CryoSleep'] = df['CryoSleep'].fillna(cryosleep_mode).astype(str)
df['VIP'] = df['VIP'].fillna(vip_mode).astype(str)
df['Name'] = df['Name'].fillna(name_mode)

df['RoomService'] = df['RoomService'].fillna(roomservice_median)
df['FoodCourt'] = df['FoodCourt'].fillna(foodcourt_median)
df['ShoppingMall'] = df['ShoppingMall'].fillna(shoppingmall_median)
df['Spa'] = df['Spa'].fillna(spa_median)
df['VRDeck'] = df['VRDeck'].fillna(vrdeck_median)

missing_values_count = df.isnull().sum()
print(missing_values_count)

PassengerId                  0
HomePlanet                   0
CryoSleep                    0
Cabin                        0
Age                          0
VIP                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
Name                         0
Transported                  0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
dtype: int64

In [46]:
# normalizacia
scaler1 = MinMaxScaler()
scaler2 = MinMaxScaler()
scaler3 = MinMaxScaler()
scaler4 = MinMaxScaler()
scaler5 = MinMaxScaler()

df['Age'] = scaler1.fit_transform(df[['Age']])
df['RoomService'] = scaler2.fit_transform(df[['RoomService']])
df['FoodCourt'] = scaler3.fit_transform(df[['FoodCourt']])
df['Spa'] = scaler4.fit_transform(df[['Spa']])
df['ShoppingMall'] = scaler5.fit_transform(df[['ShoppingMall']])

df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,Europa,False,B/0/P,0.493671,False,0.000000,0.000000,0.000000,0.000000,0.0,Maham Ofracculy,False,False,True
1,0002_01,Earth,False,F/0/S,0.303797,False,0.007608,0.000302,0.001064,0.024500,44.0,Juanna Vines,True,False,True
2,0003_01,Europa,False,A/0/S,0.734177,True,0.003001,0.119948,0.000000,0.299670,49.0,Altark Susent,False,False,True
3,0003_02,Europa,False,A/0/S,0.417722,False,0.000000,0.043035,0.015793,0.148563,193.0,Solam Susent,False,False,True
4,0004_01,Earth,False,F/1/S,0.202532,False,0.021149,0.002348,0.006428,0.025214,2.0,Willy Santantines,True,False,True
5,0005_01,Earth,False,F/0/P,0.556962,False,0.000000,0.016201,0.000000,0.012986,0.0,Sandie Hinetthews,True,True,False
6,0006_01,Earth,False,F/2/S,0.329114,False,0.002932,0.051622,0.000128,0.000000,0.0,Billex Jacostaffey,True,False,True
7,0006_02,Earth,True,G/0/S,0.354430,False,0.000000,0.000000,0.000000,0.000000,0.0,Candra Jacostaffey,True,False,True
8,0007_01,Earth,False,F/3/S,0.443038,False,0.000000,0.026331,0.000724,0.009639,0.0,Andona Beston,True,False,True
9,0008_01,Europa,True,B/1/P,0.177215,False,0.000000,0.000000,0.000000,0.000000,0.0,Erraiam Flatic,True,False,False

In [49]:
# categoricaldata transforming
df = pd.get_dummies(df, columns=['Cabin'], drop_first=True)

df.head(len(df))

KeyError: "None of [Index(['Cabin'], dtype='object')] are in the [columns]"

In [29]:
df.to_csv("train2.csv", index=False)