In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, root_mean_squared_error, mean_absolute_error
from sklearn.linear_model import LogisticRegression


df = pd.read_csv('train.csv')

In [10]:
# check
df.head(20)

          Age       Fare  Pclass  Sex  SibSp  Parch  Embarked  Survived
0   52.164927   1.105248       2    0      0      0         2         0
1   31.713105 -35.647200       2    0      0      0         0         0
2   32.982510 -38.542220       3    0      0      0         0         0
3   32.612600 -35.213095       3    0      0      0         2         0
4   51.075874 -23.560607       3    1      0      0         2         0
5   28.701760 -22.216786       1    0      0      0         0         0
6   30.438216 -33.179670       3    1      0      0         2         0
7   41.278807 -27.040329       3    1      1      0         0         1
8   27.286871 -26.413942       3    1      0      0         2         0
9   40.077707 -32.917853       3    1      0      0         0         1
10  35.887537  -8.797422       2    0      0      1         2         0
11  15.610562 -12.598653       2    1      0      0         1         0
12  46.556736 -20.465436       3    1      0      0         0         0
13  56.444683 -20.655349       3    1      0      0         1         0
14  33.482914  -2.848373       2    1      0      1         0         0
15  30.332567 -47.580539       3    0      1      1         0         0
16  32.254960  25.163295       1    1      1      0         1         0
17  33.904994 -10.258299       2    0      1      0         0         0
18  41.749987 -33.118708       3    0      0      1         2         0
19  30.128960 -27.703695       2    1      1      2         0         1